<div class="container-fluid conteudo">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 centro">
      <img class="redondo" src="http://placehold.it/200x200">
      <h3>Nome do cidadão</h3>
      <p>Descrição do cidadão</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 centro">
      <img class="redondo" src="http://placehold.it/200x200">
      <h3>Nome do cidadão</h3>
      <p>Descrição do cidadão</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 centro">
      <img class="redondo" src="http://placehold.it/200x200">
      <h3>Nome do cidadão</h3>
      <p>Descrição do cidadão</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 centro">
      <img class="redondo" src="http://placehold.it/200x200">
      <h3>Nome do cidadão</h3>
      <p>Descrição do cidadão</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 centro">
      <img class="redondo" src="http://placehold.it/200x200">
      <h3>Nome do cidadão</h3>
      <p>Descrição do cidadão</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 centro">
      <img class="redondo" src="http://placehold.it/200x200">
      <h3>Nome do cidadão</h3>
      <p>Descrição do cidadão</p>
    </div>
  </div>
</div>