.redondo{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
img{
    left: 25%;
}
.fix-height{
    min-height: fill;
}
.centro{
    text-align: center;
}
.conteudo{
    padding-top: 30px;
}
h4{
    padding-top: 30px;
}
#membro1, #membro2, #membro3, #membro4, #membro5, #membro6, {
  animation-duration: 2s;
  animation-iteration-count: 1;
}