<div class="container-fluid">
  <div class="row conteudo">
    <div class="col centro" (click)="showElements" (show)="showElements()"> <!-- Alterar acionador para scrollspy -->
      <h2>Equipe</h2>
    </div>
  </div>
  <div class="row fix-height">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 centro conteudo">
      <div id="membro1" class="hidden-sm-up">
        <img class="redondo" src="http://placehold.it/200x200">
        <h4>Nome do cidadão</h4>
        <p>Descrição do cidadão</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 centro conteudo">
      <div id="membro2" class="hidden-sm-up">
        <img class="redondo" src="http://placehold.it/200x200">
        <h4>Nome do cidadão</h4>
        <p>Descrição do cidadão</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 centro conteudo">
      <div id="membro3" class="hidden-sm-up">
        <img class="redondo" src="http://placehold.it/200x200">
        <h4>Nome do cidadão</h4>
        <p>Descrição do cidadão</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 centro conteudo">
      <div id="membro4" class="hidden-sm-up">
        <img class="redondo" src="http://placehold.it/200x200">
        <h4>Nome do cidadão</h4>
        <p>Descrição do cidadão</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 centro conteudo">
      <div id="membro5" class="hidden-sm-up">
        <img class="redondo" src="http://placehold.it/200x200">
        <h4>Nome do cidadão</h4>
        <p>Descrição do cidadão</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 centro conteudo">
      <div id="membro6" class="hidden-sm-up">
        <img class="redondo" src="http://placehold.it/200x200">
        <h4>Nome do cidadão</h4>
        <p>Descrição do cidadão</p>
      </div>
    </div>
  </div>
</div>
