<div class="container-fluid sem-margem">
  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 margem centralizar">
      <h1 class="titulo">Lorem Ipsum passages</h1>
      <p>Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 sem-margem">
      <img class="imagem-sobre" src="http://placehold.it/800x300">
    </div>

  </div>
</div>
